/* CSS Document */
ul#cssmenu {
	width:890px;
	margin: 0;
	border: 0 none;
	padding: 0;
	list-style: none;
	background: #C0C0C0;
	height: 30px;
	font: bold 12px/28px Verdana, Arial;
	border-right:#C0C0C0 1px solid;
}

ul#cssmenu li {        
              margin: 0;        
              border: 0 none;        
              padding: 0;        
              float: right;        
              display: inline;        
              list-style: none;        
              position: relative;        
              height: 30px;
}

ul#cssmenu ul {        
              margin: 0;        
              border: 0 none;        
              padding: 0;        
              width: 160px;        
              list-style: none;        
              display: none;        
              position: absolute;        
              top: 30px;        
              left: 0;
}
ul#cssmenu ul:after {
              clear: both;
              display: block;
              font: 1px/0px serif;
              content: ".";
              height: 0;
              visibility: hidden;
}

ul#cssmenu ul li {
              width: 130px;
              float: left;
              display: block !important;
              display: inline;
}

/* Main Menu */
ul#cssmenu a { 
              border: 0px;
              padding: 0 10px;
              float: none !important;
              float: left;
              display: block;
              background: #C0C0C0;
              color: #FFFFFF;
              font: bold 12px/28px Verdana, Arial;        
              text-decoration: none;
              height: auto !important;        
              height: 1%;
}

/* Main Menu Hover */
ul#cssmenu a:hover,
ul#cssmenu li:hover a,
ul#cssmenu li.iehover a {        
              background: #FFFFFF;        
              color:#C0C0C0;        
              border-top:#C0C0C0 1px solid;
}

/* Second Menu */
ul#cssmenu li:hover li a,
ul#cssmenu li.iehover li a {        
              border-top: 2px solid #FFFFFF;        
              float: none;        
              background: #C0C0C0;        
              color: #FFFFFF;
}

/* Second Menu Hover */
ul#cssmenu li:hover li a:hover,
ul#cssmenu li:hover li:hover a,
ul#cssmenu li.iehover li a:hover,
ul#cssmenu li.iehover li.iehover a {        
              border-top: 2px solid #FFFFFF;        
              background: #FFFFFF;        
              color:#C0C0C0;        
              border:#C0C0C0 1px solid;
}
ul#cssmenu ul ul {        
              display: none;        
              position: absolute;        
              top: 0;        
              left: 170px;
}
ul#cssmenu li:hover ul ul,
ul#cssmenu li.iehover ul ul {        
              display: none;
}

ul#cssmenu li:hover ul,
ul#cssmenu ul li:hover ul,
ul#cssmenu li.iehover ul,
ul#cssmenu ul li.iehover ul {        
              display: block;
} 
